@font-face {
  font-family: 'Financier Display';
  src: url('./fonts/FinancierDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Financier Display';
  src: url('./fonts/FinancierDisplay-Light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zichtbaar';
  src: url('./fonts/Zichtbaar-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zichtbaar';
  src: url('./fonts/Zichtbaar-Demibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
